@mixin large {
  @media (max-width: 1800px) {
    @content;
  }
}
@mixin tablets() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@mixin headingUnderscore {
  &:after {
    content: '';
    display: block;
    width: 20%;
    min-width: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    margin: 0 auto;
    background-color: currentColor;
  }
}
